doctype html
html
  head
    title Radxa Editor
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/loading.css')
    script(type='text/javascript' src='/javascripts/ace-builds/src-noconflict/ace.js')
    script(type='text/javascript' src='/javascripts/jquery/jquery-1.11.2.js')
    script(type='text/javascript' src='/stylesheets/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/save.js')
    script(type='text/javascript' src='/javascripts/loading.js')
    script(type='text/javascript' src='/javascripts/viewinit.js')
  body
    nav(class="navbar navbar-default header" role="navigation")
      div.navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
        a(class="navbar-brand" href="/") Brand

      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="#") Home
          li
            div.btn-group
              button(type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown") Project 
                span.caret
              ul.dropdown-menu(role="menu")
                - for( var m in projectjson)
                  li
                    a.projectloader(projpath="#{projectjson[m]}") #{m}

        div.navbar-right
          p.timersave
            span.timeradd +  
            span.timervalue 3s
            span.timerdel -  
        div.navbar-right
          p.navbar-text SaveTimer

    section#page
      div#label(onselectstart="return false")
        dir.dirlist
          div.dirname files
      div#editarea
        div#filelabel
      div#content
      
    script(type='text/javascript' src='/javascripts/editfunc.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
